In [47]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn import model_selection
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import neighbors
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
veri=pd.read_excel("veri.xlsx")
df=veri.copy()
test=pd.read_excel("id.xlsx")
test1= test.drop(['id'], axis=1)

In [3]:
test1.head()

  customer  item     date
0        A     0  2020-10
1        A     0  2020-11
2        A     0  2020-12
3        A     0   2020-8
4        A     0   2020-9

In [4]:
df.head()

  customer  item     date    order
0        B    39   2018-1   369.20
1        B    57  2018-11  1252.80
2        B    11   2020-6  1036.00
3        A    53  2018-12    51.84
4        A     1   2019-2    72.00

In [5]:
df.shape

(12583, 4)

In [6]:
df_new=pd.DataFrame(columns = ['customer', 'item', 'year_month', 'month', 'year',  'order'])

In [7]:
grup=df.groupby(["customer","item","date"])

In [8]:
for i in grup:
    a,i=i
    i["order"]=i["order"].sum()
    df_new=df_new.append(i,ignore_index=False)

In [9]:
df_new=df_new.drop_duplicates()
df_new=df_new.reset_index(drop=True)

In [10]:
test['date'] = pd.to_datetime(test['date'])
test['year'] = pd.DatetimeIndex(test['date']).year
test['month'] = pd.DatetimeIndex(test['date']).month
test=test.drop(["date"],axis=1)

In [11]:
test1['date'] = pd.to_datetime(test1['date'])
test1['year'] = pd.DatetimeIndex(test1['date']).year
test1['month'] = pd.DatetimeIndex(test1['date']).month
test1=test1.drop(["date"],axis=1)

In [12]:
df_new['date'] = pd.to_datetime(df_new['date'])
df_new['year'] = pd.DatetimeIndex(df_new['date']).year
df_new['month'] = pd.DatetimeIndex(df_new['date']).month
df_new=df_new.drop(["date"],axis=1)

In [13]:
df_new.shape

(2382, 6)

In [14]:
df_new.head()

  customer item year_month  month  year  order
0        A    0        NaN      1  2018  216.0
1        A    0        NaN     10  2018  576.0
2        A    0        NaN     11  2018  144.0
3        A    0        NaN     12  2018   72.0
4        A    0        NaN      2  2018  576.0

In [15]:
new_encoding=[]
for i in range (0, len(test)):
    if test["year"][i]==2020:
        x=24+test["month"][i]
        new_encoding.append(x)
    if test["year"][i]==2021:
        x=36+test["month"][i]
        new_encoding.append(x)
new_encoding=pd.DataFrame(new_encoding,columns=["year_month"])
test["year_month"]=new_encoding["year_month"]

In [16]:
new_encoding=[]
for i in range (0, len(test1)):
    if test1["year"][i]==2020:
        x=24+test1["month"][i]
        new_encoding.append(x)
    if test1["year"][i]==2021:
        x=36+test1["month"][i]
        new_encoding.append(x)
new_encoding=pd.DataFrame(new_encoding,columns=["year_month"])
test1["year_month"]=new_encoding["year_month"]

In [17]:
new_encoding1 = []
for i in range(0, len(df_new)): 
    if df_new['year'][i] == 2018:
        x = 0 + df_new['month'][i]
        new_encoding1.append(x)
    if df_new['year'][i] == 2019:
        x = 12 + df_new['month'][i]
        new_encoding1.append(x)
    if df_new['year'][i] == 2020:
        x = 24 + df_new['month'][i]
        new_encoding1.append(x)
        
new_encoding1=pd.DataFrame(new_encoding1,columns=["year_month"])

In [18]:
df_new["year_month"]=new_encoding1["year_month"]

In [19]:
df_new=pd.get_dummies(df_new,columns=["customer"],prefix=["customer"])

In [20]:
test1=pd.get_dummies(test1,columns=["customer"],prefix=["customer"])

In [21]:
df_new=pd.get_dummies(df_new,columns=["item"],prefix=["item"])

In [22]:
test1=pd.get_dummies(test1,columns=["item"],prefix=["item"])

In [23]:
new_encoding=[]
for i in range(0,len(df_new)):
    if df_new["year"][i]==2018:
        new_encoding.append(0)
    elif df_new["year"][i]==2019:
        new_encoding.append(1)
    elif df_new["year"][i]==2020:
        new_encoding.append(2)
new_encoding=pd.DataFrame(new_encoding,columns=["year"])
df_new["year"]=new_encoding["year"]

In [24]:
new_encoding=[]
for i in range(0,len(test1)):
    if test1["year"][i]==2020:
        new_encoding.append(2)
    elif test1["year"][i]==2021:
        new_encoding.append(3)
new_encoding=pd.DataFrame(new_encoding,columns=["year"])
test1["year"]=new_encoding["year"]

In [25]:
df_new.head()

,year_month,month,year,order,customer_A,customer_B,customer_C,item_0,item_1,item_2,...,item_73,item_74,item_75,item_76,item_77,item_78,item_79,item_80,item_81,item_82
0,1,1,0,216.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,10,0,576.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,11,0,144.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12,12,0,72.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,2,0,576.0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
test1.head()

,year,month,year_month,customer_A,customer_B,customer_C,item_0,item_1,item_2,item_3,...,item_73,item_74,item_75,item_76,item_77,item_78,item_79,item_80,item_81,item_82
0,2,10,34,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,11,35,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,12,36,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,8,32,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,9,33,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item        498 non-null    int64
 1   year        498 non-null    int64
 2   month       498 non-null    int64
 3   year_month  498 non-null    int64
 4   customer_A  498 non-null    uint8
 5   customer_B  498 non-null    uint8
 6   customer_C  498 non-null    uint8
dtypes: int64(4), uint8(3)
memory usage: 17.1 KB

In [40]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2382 entries, 0 to 2381
Data columns (total 90 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year_month  2382 non-null   int64
 1   month       2382 non-null   int64
 2   year        2382 non-null   int64
 3   order       2382 non-null   float64
 4   customer_A  2382 non-null   uint8
 5   customer_B  2382 non-null   uint8
 6   customer_C  2382 non-null   uint8
 7   item_0      2382 non-null   uint8
 8   item_1      2382 non-null   uint8
 9   item_2      2382 non-null   uint8
 10  item_3      2382 non-null   uint8
 11  item_4      2382 non-null   uint8
 12  item_5      2382 non-null   uint8
 13  item_6      2382 non-null   uint8
 14  item_7      2382 non-null   uint8
 15  item_8      2382 non-null   uint8
 16  item_9      2382 non-null   uint8
 17  item_10     2382 non-null   uint8
 18  item_11     2382 non-null   uint8
 19  item_12     2382 non-null   uint8
 20  item_13     2382 non-null   uint8
 21  item_14     2382 non-null   uint8
 22  item_15     2382 non-null   uint8
 23  item_16     2382 non-null   uint8
 24  item_17     2382 non-null   uint8
 25  item_18     2382 non-null   uint8
 26  item_19     2382 non-null   uint8
 27  item_20     2382 non-null   uint8
 28  item_21     2382 non-null   uint8
 29  item_22     2382 non-null   uint8
 30  item_23     2382 non-null   uint8
 31  item_24     2382 non-null   uint8
 32  item_25     2382 non-null   uint8
 33  item_26     2382 non-null   uint8
 34  item_27     2382 non-null   uint8
 35  item_28     2382 non-null   uint8
 36  item_29     2382 non-null   uint8
 37  item_30     2382 non-null   uint8
 38  item_31     2382 non-null   uint8
 39  item_32     2382 non-null   uint8
 40  item_33     2382 non-null   uint8
 41  item_34     2382 non-null   uint8
 42  item_35     2382 non-null   uint8
 43  item_36     2382 non-null   uint8
 44  item_37     2382 non-null   uint8
 45  item_38     2382 non-null   uint8
 46  item_39     2382 non-null   uint8
 47  item_40     2382 non-null   uint8
 48  item_41     2382 non-null   uint8
 49  item_42     2382 non-null   uint8
 50  item_43     2382 non-null   uint8
 51  item_44     2382 non-null   uint8
 52  item_45     2382 non-null   uint8
 53  item_46     2382 non-null   uint8
 54  item_47     2382 non-null   uint8
 55  item_48     2382 non-null   uint8
 56  item_49     2382 non-null   uint8
 57  item_50     2382 non-null   uint8
 58  item_51     2382 non-null   uint8
 59  item_52     2382 non-null   uint8
 60  item_53     2382 non-null   uint8
 61  item_54     2382 non-null   uint8
 62  item_55     2382 non-null   uint8
 63  item_56     2382 non-null   uint8
 64  item_57     2382 non-null   uint8
 65  item_58     2382 non-null   uint8
 66  item_59     2382 non-null   uint8
 67  item_60     2382 non-null   uint8
 68  item_61     2382 non-null   uint8
 69  item_62     2382 non-null   uint8
 70  item_63     2382 non-null   uint8
 71  item_64     2382 non-null   uint8
 72  item_65     2382 non-null   uint8
 73  item_66     2382 non-null   uint8
 74  item_67     2382 non-null   uint8
 75  item_68     2382 non-null   uint8
 76  item_69     2382 non-null   uint8
 77  item_70     2382 non-null   uint8
 78  item_71     2382 non-null   uint8
 79  item_72     2382 non-null   uint8
 80  item_73     2382 non-null   uint8
 81  item_74     2382 non-null   uint8
 82  item_75     2382 non-null   uint8
 83  item_76     2382 non-null   uint8
 84  item_77     2382 non-null   uint8
 85  item_78     2382 non-null   uint8
 86  item_79     2382 non-null   uint8
 87  item_80     2382 non-null   uint8
 88  item_81     2382 non-null   uint8
 89  item_82     2382 non-null   uint8
dtypes: float64(1), int64(3), uint8(86)
memory usage: 274.6 KB

In [92]:
def RMSE(df,order,mdl):
    X=df.drop(["order"],axis=1)
    y=df[[order]]
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)
    #modelleme
    
    model=mdl().fit(X_train,y_train)
    predict_y=model.predict(X_test)
    RMSE_deger=np.sqrt(mean_squared_error(y_test,predict_y))
    model_ismi=mdl.__name__
    print(model_ismi,":","RMSE=",RMSE_deger)

In [94]:
models=[GradientBoostingRegressor,
       RandomForestRegressor,
       DecisionTreeRegressor,
       KNeighborsRegressor,
       SVR,
       Ridge,
       LinearRegression,]

In [95]:
for i in models:
    RMSE(df_new,"order",i)

GradientBoostingRegressor : RMSE= 1499.017279367573
RandomForestRegressor : RMSE= 1618.6200703699944
DecisionTreeRegressor : RMSE= 1957.9511132546954
KNeighborsRegressor : RMSE= 2305.022454003029
SVR : RMSE= 2313.4030728134517
Ridge : RMSE= 1539.4223466381302
LinearRegression : RMSE= 1539.2462251044408

In [56]:
X=df_new.drop(["order"],axis=1)
y=df_new[["order"]]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [57]:
GB_model=GradientBoostingRegressor().fit(X,y)

In [62]:
?GB_model

Type:        GradientBoostingRegressor
String form: GradientBoostingRegressor()
Length:      100
File:        c:\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py
Docstring:
Gradient Boosting for regression.

GB builds an additive model in a forward stage-wise fashion;
it allows for the optimization of arbitrary differentiable loss functions.
In each stage a regression tree is fit on the negative gradient of the
given loss function.

Read more in the :ref:`User Guide <gradient_boosting>`.

Parameters
----------
loss : {'ls', 'lad', 'huber', 'quantile'}, default='ls'
    loss function to be optimized. 'ls' refers to least squares
    regression. 'lad' (least absolute deviation) is a highly robust
    loss function solely based on order information of the input
    variables. 'huber' is a combination of the two. 'quantile'
    allows quantile regression (use `alpha` to specify the quantile).

learning_rate : float, default=0.1
    learning rate shrinks the contribution of each tree by `learning_rate`.
    There is a trade-off between learning_rate and n_estimators.

n_estimators : int, default=100
    The number of boosting stages to perform. Gradient boosting
    is fairly robust to over-fitting so a large number usually
    results in better performance.

subsample : float, default=1.0
    The fraction of samples to be used for fitting the individual base
    learners. If smaller than 1.0 this results in Stochastic Gradient
    Boosting. `subsample` interacts with the parameter `n_estimators`.
    Choosing `subsample < 1.0` leads to a reduction of variance
    and an increase in bias.

criterion : {'friedman_mse', 'mse', 'mae'}, default='friedman_mse'
    The function to measure the quality of a split. Supported criteria
    are "friedman_mse" for the mean squared error with improvement
    score by Friedman, "mse" for mean squared error, and "mae" for
    the mean absolute error. The default value of "friedman_mse" is
    generally the best as it can provide a better approximation in
    some cases.

    .. versionadded:: 0.18

min_samples_split : int or float, default=2
    The minimum number of samples required to split an internal node:

    - If int, then consider `min_samples_split` as the minimum number.
    - If float, then `min_samples_split` is a fraction and
      `ceil(min_samples_split * n_samples)` are the minimum
      number of samples for each split.

    .. versionchanged:: 0.18
       Added float values for fractions.

min_samples_leaf : int or float, default=1
    The minimum number of samples required to be at a leaf node.
    A split point at any depth will only be considered if it leaves at
    least ``min_samples_leaf`` training samples in each of the left and
    right branches.  This may have the effect of smoothing the model,
    especially in regression.

    - If int, then consider `min_samples_leaf` as the minimum number.
    - If float, then `min_samples_leaf` is a fraction and
      `ceil(min_samples_leaf * n_samples)` are the minimum
      number of samples for each node.

    .. versionchanged:: 0.18
       Added float values for fractions.

min_weight_fraction_leaf : float, default=0.0
    The minimum weighted fraction of the sum total of weights (of all
    the input samples) required to be at a leaf node. Samples have
    equal weight when sample_weight is not provided.

max_depth : int, default=3
    maximum depth of the individual regression estimators. The maximum
    depth limits the number of nodes in the tree. Tune this parameter
    for best performance; the best value depends on the interaction
    of the input variables.

min_impurity_decrease : float, default=0.0
    A node will be split if this split induces a decrease of the impurity
    greater than or equal to this value.

    The weighted impurity decrease equation is the following::

        N_t / N * (impurity - N_t_R / N_t * right_impurity
                            - N_t_L / N_t * left_impurity)

    where ``N`` is the total number of samples, ``N_t`` is the number of
    samples at the current node, ``N_t_L`` is the number of samples in the
    left child, and ``N_t_R`` is the number of samples in the right child.

    ``N``, ``N_t``, ``N_t_R`` and ``N_t_L`` all refer to the weighted sum,
    if ``sample_weight`` is passed.

    .. versionadded:: 0.19

min_impurity_split : float, default=None
    Threshold for early stopping in tree growth. A node will split
    if its impurity is above the threshold, otherwise it is a leaf.

    .. deprecated:: 0.19
       ``min_impurity_split`` has been deprecated in favor of
       ``min_impurity_decrease`` in 0.19. The default value of
       ``min_impurity_split`` has changed from 1e-7 to 0 in 0.23 and it
       will be removed in 0.25. Use ``min_impurity_decrease`` instead.

init : estimator or 'zero', default=None
    An estimator object that is used to compute the initial predictions.
    ``init`` has to provide :term:`fit` and :term:`predict`. If 'zero', the
    initial raw predictions are set to zero. By default a
    ``DummyEstimator`` is used, predicting either the average target value
    (for loss='ls'), or a quantile for the other losses.

random_state : int or RandomState, default=None
    Controls the random seed given to each Tree estimator at each
    boosting iteration.
    In addition, it controls the random permutation of the features at
    each split (see Notes for more details).
    It also controls the random spliting of the training data to obtain a
    validation set if `n_iter_no_change` is not None.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

max_features : {'auto', 'sqrt', 'log2'}, int or float, default=None
    The number of features to consider when looking for the best split:

    - If int, then consider `max_features` features at each split.
    - If float, then `max_features` is a fraction and
      `int(max_features * n_features)` features are considered at each
      split.
    - If "auto", then `max_features=n_features`.
    - If "sqrt", then `max_features=sqrt(n_features)`.
    - If "log2", then `max_features=log2(n_features)`.
    - If None, then `max_features=n_features`.

    Choosing `max_features < n_features` leads to a reduction of variance
    and an increase in bias.

    Note: the search for a split does not stop until at least one
    valid partition of the node samples is found, even if it requires to
    effectively inspect more than ``max_features`` features.

alpha : float, default=0.9
    The alpha-quantile of the huber loss function and the quantile
    loss function. Only if ``loss='huber'`` or ``loss='quantile'``.

verbose : int, default=0
    Enable verbose output. If 1 then it prints progress and performance
    once in a while (the more trees the lower the frequency). If greater
    than 1 then it prints progress and performance for every tree.

max_leaf_nodes : int, default=None
    Grow trees with ``max_leaf_nodes`` in best-first fashion.
    Best nodes are defined as relative reduction in impurity.
    If None then unlimited number of leaf nodes.

warm_start : bool, default=False
    When set to ``True``, reuse the solution of the previous call to fit
    and add more estimators to the ensemble, otherwise, just erase the
    previous solution. See :term:`the Glossary <warm_start>`.

presort : deprecated, default='deprecated'
    This parameter is deprecated and will be removed in v0.24.

    .. deprecated :: 0.22

validation_fraction : float, default=0.1
    The proportion of training data to set aside as validation set for
    early stopping. Must be between 0 and 1.
    Only used if ``n_iter_no_change`` is set to an integer.

    .. versionadded:: 0.20

n_iter_no_change : int, default=None
    ``n_iter_no_change`` is used to decide if early stopping will be used
    to terminate training when validation score is not improving. By
    default it is set to None to disable early stopping. If set to a
    number, it will set aside ``validation_fraction`` size of the training
    data as validation and terminate training when validation score is not
    improving in all of the previous ``n_iter_no_change`` numbers of
    iterations.

    .. versionadded:: 0.20

tol : float, default=1e-4
    Tolerance for the early stopping. When the loss is not improving
    by at least tol for ``n_iter_no_change`` iterations (if set to a
    number), the training stops.

    .. versionadded:: 0.20

ccp_alpha : non-negative float, default=0.0
    Complexity parameter used for Minimal Cost-Complexity Pruning. The
    subtree with the largest cost complexity that is smaller than
    ``ccp_alpha`` will be chosen. By default, no pruning is performed. See
    :ref:`minimal_cost_complexity_pruning` for details.

    .. versionadded:: 0.22

Attributes
----------
feature_importances_ : ndarray of shape (n_features,)
    The impurity-based feature importances.
    The higher, the more important the feature.
    The importance of a feature is computed as the (normalized)
    total reduction of the criterion brought by that feature.  It is also
    known as the Gini importance.

    Warning: impurity-based feature importances can be misleading for
    high cardinality features (many unique values). See
    :func:`sklearn.inspection.permutation_importance` as an alternative.

oob_improvement_ : ndarray of shape (n_estimators,)
    The improvement in loss (= deviance) on the out-of-bag samples
    relative to the previous iteration.
    ``oob_improvement_[0]`` is the improvement in
    loss of the first stage over the ``init`` estimator.
    Only available if ``subsample < 1.0``

train_score_ : ndarray of shape (n_estimators,)
    The i-th score ``train_score_[i]`` is the deviance (= loss) of the
    model at iteration ``i`` on the in-bag sample.
    If ``subsample == 1`` this is the deviance on the training data.

loss_ : LossFunction
    The concrete ``LossFunction`` object.

init_ : estimator
    The estimator that provides the initial predictions.
    Set via the ``init`` argument or ``loss.init_estimator``.

estimators_ : ndarray of DecisionTreeRegressor of shape (n_estimators, 1)
    The collection of fitted sub-estimators.

n_features_ : int
    The number of data features.

max_features_ : int
    The inferred value of max_features.

Notes
-----
The features are always randomly permuted at each split. Therefore,
the best found split may vary, even with the same training data and
``max_features=n_features``, if the improvement of the criterion is
identical for several splits enumerated during the search of the best
split. To obtain a deterministic behaviour during fitting,
``random_state`` has to be fixed.

Examples
--------
>>> from sklearn.datasets import make_regression
>>> from sklearn.ensemble import GradientBoostingRegressor
>>> from sklearn.model_selection import train_test_split
>>> X, y = make_regression(random_state=0)
>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, random_state=0)
>>> reg = GradientBoostingRegressor(random_state=0)
>>> reg.fit(X_train, y_train)
GradientBoostingRegressor(random_state=0)
>>> reg.predict(X_test[1:2])
array([-61...])
>>> reg.score(X_test, y_test)
0.4...

See also
--------
sklearn.ensemble.HistGradientBoostingRegressor,
sklearn.tree.DecisionTreeRegressor, RandomForestRegressor

References
----------
J. Friedman, Greedy Function Approximation: A Gradient Boosting
Machine, The Annals of Statistics, Vol. 29, No. 5, 2001.

J. Friedman, Stochastic Gradient Boosting, 1999

T. Hastie, R. Tibshirani and J. Friedman.
Elements of Statistical Learning Ed. 2, Springer, 2009.

In [79]:
GB_params={"learning_rate":[0.01,0.1,0.5,0.8],
          "max_depth":[3,5,8,10],
          "n_estimators":[100,200,400,600],
          "subsample":[1,0.5,0.8],
          "loss":["ls","lad","quantile"]}

In [80]:
GB_cv_models=GridSearchCV(GB_model,
                          GB_params,
                          cv=5,
                          verbose=2,n_jobs=-1).fit(X_train,y_train)

Fitting 5 folds for each of 576 candidates, totalling 2880 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   27.0s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 1442 tasks      | elapsed:  9.4min
[Parallel(n_jobs=-1)]: Done 1969 tasks      | elapsed: 12.4min
[Parallel(n_jobs=-1)]: Done 2576 tasks      | elapsed: 16.2min
[Parallel(n_jobs=-1)]: Done 2880 out of 2880 | elapsed: 18.7min finished

In [81]:
GB_cv_models.best_params_

{'learning_rate': 0.1,
 'loss': 'lad',
 'max_depth': 8,
 'n_estimators': 200,
 'subsample': 0.5}

In [82]:
GB_model=GradientBoostingRegressor(learning_rate=0.1,loss="lad",max_depth=8,n_estimators=200,subsample=0.5).fit(X,y)

In [89]:
GB_ilkel_model=GradientBoostingRegressor().fit(X,y)

In [ ]:
#İLKEL TEST HATASI

In [90]:
y_pred_ilkel=GB_ilkel_model.predict(X_test)

In [91]:
RMSE_deger=np.sqrt(mean_squared_error(y_test,y_pred_ilkel))
RMSE_deger

1295.4707676201122

In [85]:
#MODEL TUNING TEST HATASI

In [83]:
y_pred=GB_model.predict(X_test) #test için ayrılan verinin tahmini

In [86]:
RMSE_deger=np.sqrt(mean_squared_error(y_test,y_pred))
RMSE_deger

1121.030608198787

In [84]:
predict_y=GB_model.predict(test1) #istenilen 6 aylık veri için tahmin

In [87]:
predict_y=pd.DataFrame(predict_y,columns=["order"])
test["order"]=predict_y["order"]

In [88]:
test.to_csv('6_aylik_tahmin.csv', columns=['id', 'order'], index=False)