In [650]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error,r2_score
from sklearn import model_selection
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import cross_val_score

In [651]:
veri=pd.read_excel("veri.xlsx")
df=veri.copy()
test=pd.read_excel("id.xlsx")
test1= test.drop(['id'], axis=1)

In [652]:
test1.head()

  customer  item     date
0        A     0  2020-10
1        A     0  2020-11
2        A     0  2020-12
3        A     0   2020-8
4        A     0   2020-9

In [653]:
df.head()

  customer  item     date    order
0        B    39   2018-1   369.20
1        B    57  2018-11  1252.80
2        B    11   2020-6  1036.00
3        A    53  2018-12    51.84
4        A     1   2019-2    72.00

In [654]:
df_new=pd.DataFrame(columns = ['customer', 'item', 'year_month', 'month', 'year',  'order'])

In [655]:
grup=df.groupby(["customer","item","date"])

In [656]:
for i in grup:
    a,i=i
    i["order"]=i["order"].sum()
    df_new=df_new.append(i,ignore_index=False)

In [657]:
df_new=df_new.drop_duplicates()
df_new=df_new.reset_index(drop=True)

In [658]:
test['date'] = pd.to_datetime(test['date'])
test['year'] = pd.DatetimeIndex(test['date']).year
test['month'] = pd.DatetimeIndex(test['date']).month
test=test.drop(["date"],axis=1)

In [659]:
test1['date'] = pd.to_datetime(test1['date'])
test1['year'] = pd.DatetimeIndex(test1['date']).year
test1['month'] = pd.DatetimeIndex(test1['date']).month
test1=test1.drop(["date"],axis=1)

In [660]:
df_new['date'] = pd.to_datetime(df_new['date'])
df_new['year'] = pd.DatetimeIndex(df_new['date']).year
df_new['month'] = pd.DatetimeIndex(df_new['date']).month
df_new=df_new.drop(["date"],axis=1)

In [661]:
new_encoding=[]
for i in range (0, len(test)):
    if test["year"][i]==2020:
        x=24+test["month"][i]
        new_encoding.append(x)
    if test["year"][i]==2021:
        x=36+test["month"][i]
        new_encoding.append(x)
new_encoding=pd.DataFrame(new_encoding,columns=["year_month"])
test["year_month"]=new_encoding["year_month"]

In [662]:
new_encoding=[]
for i in range (0, len(test1)):
    if test1["year"][i]==2020:
        x=24+test1["month"][i]
        new_encoding.append(x)
    if test1["year"][i]==2021:
        x=36+test1["month"][i]
        new_encoding.append(x)
new_encoding=pd.DataFrame(new_encoding,columns=["year_month"])
test1["year_month"]=new_encoding["year_month"]

In [663]:
new_encoding1 = []
for i in range(0, len(df_new)): 
    if df_new['year'][i] == 2018:
        x = 0 + df_new['month'][i]
        new_encoding1.append(x)
    if df_new['year'][i] == 2019:
        x = 12 + df_new['month'][i]
        new_encoding1.append(x)
    if df_new['year'][i] == 2020:
        x = 24 + df_new['month'][i]
        new_encoding1.append(x)
        
new_encoding1=pd.DataFrame(new_encoding1,columns=["year_month"])

In [664]:
df_new["year_month"]=new_encoding1["year_month"]

In [665]:
df_new=pd.get_dummies(df_new,columns=["customer"],prefix=["customer"])

In [666]:
test1=pd.get_dummies(test1,columns=["customer"],prefix=["customer"])

In [667]:
df_new=pd.get_dummies(df_new,columns=["item"],prefix=["item"])

In [668]:
test1=pd.get_dummies(test1,columns=["item"],prefix=["item"])

In [669]:
new_encoding=[]
for i in range(0,len(df_new)):
    if df_new["year"][i]==2018:
        new_encoding.append(0)
    elif df_new["year"][i]==2019:
        new_encoding.append(1)
    elif df_new["year"][i]==2020:
        new_encoding.append(2)
new_encoding=pd.DataFrame(new_encoding,columns=["year"])
df_new["year"]=new_encoding["year"]

In [670]:
new_encoding=[]
for i in range(0,len(test1)):
    if test1["year"][i]==2020:
        new_encoding.append(2)
    elif test1["year"][i]==2021:
        new_encoding.append(3)
new_encoding=pd.DataFrame(new_encoding,columns=["year"])
test1["year"]=new_encoding["year"]

In [671]:
X=df_new.drop(["order"],axis=1)

In [672]:
y=df_new[["order"]]

In [673]:
ridge_model=Ridge().fit(X,y)

In [674]:
predict_y=ridge_model.predict(test1)

In [675]:
predict_y=pd.DataFrame(predict_y,columns=["order"])
test["order"]=predict_y["order"]

In [676]:
test.to_csv('PROJE.csv', columns=['id', 'order'], index=False)